<div class="banner">
  <h2>Centroamérica zona 7</h2>
</div>

<div class="container">
  <div id="products" class="row list-group">
<br><br>

<nav class="navbar-container">

    <ul class="nav navbar">
      <li class="nav-item nav-link disable"><a href="MedioAmbiente/#Ecologia">ECOLOGIA </a></li>
      <li class="nav-item nav-link disable"><a  href="MedioAmbiente/#Tips">TIPS </a></li>
      <li class="nav-item nav-link disable"><a  href="MedioAmbiente/#Proyectos">PROYECTOS </a></li>
      <li class="nav-item nav-link disable"><a  href="MedioAmbiente/#Plantas">PLANTAS</a></li>
    </ul>

  <hr>
</nav>

<div class="columnsContainer">

  <div class="leftColumn">
    <h2 id="Ecologia">¿Qué es la Ecologia?</h2> <br>

    <p>En las últimas décadas, la ecología ha adquirido relevancia por las notables consecuencias del impacto de las actividades humanas en el medioambiente.
      La ecología es la rama de la biología que se dedica al estudio de los seres vivos y la relación de éstos con el medio ambiente en el que habitan. Además, la ecología estudia la abundancia y distribución de seres vivos que existe en un área o región determinada.
      El medioambiente está formado por factores bióticos (seres vivos) y factores abióticos (componentes sin vida).
      El ecologismo lucha contra prácticas, actividades económicas y costumbres arraigadas que ponen en riesgo la biodiversidad, por ejemplo: ensayos nucleares, deforestación, pesca indiscriminada, uso indiscriminado de plásticos, mal uso de los recursos naturales</p>
  </div>
</div> <hr>

<div class="columnsContainer">

  <div class="leftColumn">
    <h2 id="Tips" style="text-align: center;">Tips para  ayudar al Medio Ambiente</h2> <br>

    <p>Para mantener el equilibrio de nuestro planeta es indispensable que ocurran cambios positivos en la forma en la que el ser humano se relaciona con el ecosistema que lo rodea.
      Conocer estas relaciones permite cuidar el medio ambiente, gestionar de manera consciente los recursos naturales y tomar medidas para anticiparse al impacto ambiental.
      <br> Existen algunas acciones que se pueden tomar para reducir el impacto ambiental desde los hogares, por ejemplo:
    </p>

    <div class="main">

      <ul class="cards">

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://www.ucundinamarca.edu.co/images/2020/12/31/BASURA.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Separar la basura</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://www.lavanguardia.com/files/og_thumbnail/uploads/2019/03/10/5fa519d21a1bb.jpeg"></div>
            <div class="card_content">
              <h2 class="card_title">No tirar residuos en la vía pública ni en la naturaleza</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://e.rpp-noticias.io/large/2015/11/13/030503_27777.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Apagar las luces y desenchufar los aparatos electrónicos que no estén siendo utilizados</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://www.latercera.com/resizer/hTemnG5OCWxB2NXWABCCqEhOlK0=/arc-anglerfish-arc2-prod-copesa/public/NI2ABPPCTJG2LE6FEQGMIYVMZM.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Limitar el uso de agua corriente en la ducha y al cepillarse los dientes</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://www.fundacionaquae.org/wp-content/uploads/2017/04/bicicleta-dmma-2-1.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Utilizar el transporte público o la bicicleta en lugar de los automóviles</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://mejorconsalud.as.com/wp-content/uploads/2021/07/plantar-arbol.png"></div>
            <div class="card_content">
              <h2 class="card_title">Plantar un árbol en el balcón o jardín</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://e.rpp-noticias.io/xlarge/2019/01/22/390639_742396.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Limitar el consumo de productos envueltos en plástico</h2> <br>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="https://static.eldiario.es/clip/15fbb1ce-ed14-4d45-a943-38d3cb90e138_16-9-aspect-ratio_default_0.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Utilizar bolsas de tela al hacer las compras</h2> <br>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>
  <hr>
</div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h2 id="Proyectos">Proyectos para  ayudar al Medio Ambiente</h2>
          <br>
        </div>
      </div>
    </div>

      <div class="item  col-xs-4 col-lg-12">
          <div class="thumbnail">
              <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                      Realiza un Mini Invernador</h4> <br>

                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <p class="group inner list-group-item-text" style="text-align: justify;">
                              <br>
                              Los mini invernaderos le permiten invernar su planta favorita, así como cultivar a partir de semillas y cortar
                              esquejes. Por lo tanto, este es un excelente complemento para su jardín. Este es el lugar perfecto para que las
                              tiernas plantas jóvenes crezcan y maduren. Los mini invernaderos son estructuras que presentan diferentes
                              formas y tamaños, los cuales están hechos para optimizar el uso de espacios pequeños o reducidos; estos tienen
                              la capacidad de generar las condiciones ambientales adecuadas para diferentes especies vegetales dependiendo
                              de sus necesidades y de la región</p>
                          </div>
                          <div class="col">
                            <youtube-player videoId="jwAVj0eRGco"suggestedQuality="highres" [width]="600"></youtube-player>
                          </div>
                        </div>
                      </div>

              </div>
          </div>
      </div> <br>

      <div class="item  col-xs-4 col-lg-12">
        <div class="thumbnail">
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Realiza una Maceta Autorriego</h4> <br>

                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <youtube-player videoId="6HlVPZIKiAU"suggestedQuality="highres"
                          [width]="600" ></youtube-player>
                        </div>
                        <div class="col">
                          <p class="group inner list-group-item-text" style="text-align: justify;">
                            <br>
                            Este tipo de macetas se componen por dos contenedores entre los que resta un espacio en la zona inferior. Ese
                            espacio sirve de depósito de agua, donde descansan unas mechas que salen del interior de la maceta y que están
                            en contacto con el sustrato y, por tanto, con las raíces.
                            Basta con cortar una tira de unos 15 centímetros de ancho (cm) para que sirva como mecha; y hacerla pasar a
                            través de uno de los agujeros de drenaje que ya tenga en la base tu maceta. Así, un extremo permanece sumergido
                            en el agua de la bandeja, mientras que el otro extremo queda dentro de la tierra de tu maceta.</p>
                        </div>
                      </div>
                    </div>

            </div>
        </div>
    </div> <br>

    <div class="item  col-xs-4 col-lg-12">
      <div class="thumbnail">
          <div class="caption">
              <h4 class="group inner list-group-item-heading">
                  Realiza un Mini Invernador para Semilleros</h4> <br>

                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <p class="group inner list-group-item-text" style="text-align: justify;">
                          <br>
                          Los mini invernaderos le permiten invernar su planta favorita, así como cultivar a partir de semillas y cortar
                          esquejes. Por lo tanto, este es un excelente complemento para su jardín. Este es el lugar perfecto para que las
                          tiernas plantas jóvenes crezcan y maduren. Los mini invernaderos son estructuras que presentan diferentes
                          formas y tamaños, los cuales están hechos para optimizar el uso de espacios pequeños o reducidos; estos tienen
                          la capacidad de generar las condiciones ambientales adecuadas para diferentes especies vegetales dependiendo
                          de sus necesidades y de la región</p>
                      </div>
                      <div class="col">
                        <youtube-player videoId="3jpn6AkXFos"suggestedQuality="highres" [width]="600"></youtube-player>
                      </div>
                    </div>
                  </div>

          </div>
      </div>
  </div> <br>

<hr>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <h2 id="Plantas">Plantas</h2>
        <br>
      </div>
    </div>
  </div> <br>

  <div class="item  col-xs-4 col-lg-12">
    <div class="thumbnail">
        <div class="caption">

          <h4 class="group inner list-group-item-heading">
            Tipos de Plantas</h4>

          <p>Existen una gran variedad de tipos de plantas. Árboles, palmeras, coníferas, herbáceas, arbustos, musgos, helechos, algas y
            cactus entre otras. Cada una de ellas con sus características propias que las convierten en especies únicas. Y aunque tengan
            en común su sistema de obtención de energía mediante la fotosíntesis, sí que podemos clasificarlas en grandes bloques que las
            diferencian. En la tierra hay muchos tipos de plantas, pero a clasificado en dos tipos que son Gimnospermas y Angiospermas.</p> <br>

            <h5 class="group inner list-group-item-heading"> Gimnospermas</h5>
            <p>En esta entran las coníferas, cicadaceae, helechos y el Ginkgo biloba que es un árbol único.</p>

            <div class="main">

              <ul class="cards">
                <li class="cards_item">
                  <div class="card">
                    <div class="card_image"><img src="https://vod-hogarmania.atresmedia.com/hogarmania/images/images01/2013/06/13/5c00e27316334d00019192e8/1239x697.jpg"></div>
                    <div class="card_content">
                      <h2 class="card_title">Coníferas</h2> <br>
                      <p class="card_text">Son todos los árboles o arbustos que tienen un tronco más o menos recto con ramas horizontales
                        y el frito tiene forma de piña.</p>
                    </div>
                  </div>
                </li>

                <li class="cards_item">
                  <div class="card">
                    <div class="card_image"><img src="https://www.jardineriaon.com/wp-content/uploads/2019/09/cycas-circinalis-1024x768.jpg.webp "></div>
                    <div class="card_content">
                      <h2 class="card_title">Cicadaceae</h2> <br>
                      <p class="card_text">Son los árboles que tiene un tronco recto, hojas largas pinnadas, las hojas rodean el caso de
                        los pies y semilla dura..</p>
                    </div>
                  </div>
                </li>

                <li class="cards_item">
                  <div class="card">
                    <div class="card_image"><img src="https://statics-cuidateplus.marca.com/cms/styles/amp_1200x675_16_9/azblob/ginkgo-biloba.jpg?itok=hBALwqRP"></div>
                    <div class="card_content">
                      <h2 class="card_title">Ginkgo biloba </h2> <br>
                      <p class="card_text">Es un árbol único que alcanza una altura de 35 metros, sus hojas tienen forma de abanico,
                        tronco recto, copa estrecha y piramidal. </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div> <br>

            <h5 class="group inner list-group-item-heading"> Angiospermas</h5>
            <p>Aquí se encuentran más tipos de plantas la cual lo que destacan en ellas son sus flores.</p>

            <div class="main">

              <ul class="cards">
                <li class="cards_item">
                  <div class="card">
                    <div class="card_image"><img src="https://previews.123rf.com/images/serezniy/serezniy1409/serezniy140902590/31880072-frondosos-arbustos-hermosos-en-jard%C3%ADn.jpg"></div>
                    <div class="card_content">
                      <h2 class="card_title">Arbustos</h2> <br>
                      <p class="card_text">Ramificaciones desde muy cerca del suelo, tallos leñosos y hojas perenne o caduca. Aquí también
                        entran las trepadoras o epífitas que arbustos que se desarrollan de las ramas de árboles que van creciendo a un
                        ritmo rápido y con llores bonitas.</p>
                    </div>
                  </div>
                </li>

                <li class="cards_item">
                  <div class="card">
                    <div class="card_image"><img src="https://i0.wp.com/qpwebsite.s3.amazonaws.com/uploads/2019/04/verdurasyhortalizas.jpg?fit=1600%2C1067&ssl=1"></div>
                    <div class="card_content">
                      <h2 class="card_title">Hortícolas</h2> <br>
                      <p class="card_text">Son herbáceas que pueden dar frutos, es decir, que puedan ser comestibles.  Este es importante
                        para el ser humano porque nos provee de nutrientes. </p>
                    </div>
                  </div>
                </li>

                <li class="cards_item">
                  <div class="card">
                    <div class="card_image"><img src="https://media.admagazine.com/photos/618a616ca986d2482cad2182/master/w_1600%2Cc_limit/85877.jpg"></div>
                    <div class="card_content">
                      <h2 class="card_title">Orquídeas</h2> <br>
                      <p class="card_text">Su característica de las demás flores es que la flor es elegante que en ocasiones adaptan la
                        forma de animales lo cual es interesante y otra característica es que necesitan de los hongos.  </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div> <br>

            <div class="container">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-8">
                  <youtube-player videoId="kgoDDLxfVOw"suggestedQuality="highres"
                  [width]="600" ></youtube-player>
                </div>
              </div>
            </div>

            <br>
            <h4 class="group inner list-group-item-heading">
                Plantas Medicinales</h4>

              <p>Las plantas medicinales son aquellos vegetales que elaboran unos metabolitos secundarios, llamados “principios activos”,
                sustancias químicas que ejercen una acción farmacológica, ya sea beneficiosa o perjudicial, sobre el organismo vivo.

                Por ello, este tipo de plantas se utilizan como remedio natural, según sus propiedades, para aliviar enfermedades y
                malestares comunes, así como un medio de prevención de distintos padecimientos.</p> <br>

                <div class="main">

                  <ul class="cards">
                    <li class="cards_item">
                      <div class="card">
                        <div class="card_image"><img src="http://tropical.theferns.info/plantimages/d/c/dcdc5b6123fc5ece6e6bdea41c918ba507e7452f.jpg"></div>
                        <div class="card_content">
                          <h2 class="card_title">Simarouba glauca</h2> <br>
                          <p class="card_text">Pertenece a la familia Sinaroubaceae Se encuentra en Guatemala y Honduras aceituno o talchocote. Se ha usado como un
                            hemostático para detener el sangrado, tónico para la debilidad general, vómitos, fiebres, paludismo, disentería, malaria
                            y amibiasis.</p>
                        </div>
                      </div>
                    </li>

                    <li class="cards_item">
                      <div class="card">
                        <div class="card_image"><img src="https://mejorconsalud.as.com/wp-content/uploads/2020/11/planta-albahaca.jpg "></div>
                        <div class="card_content">
                          <h2 class="card_title">Albahaca</h2> <br>
                          <p class="card_text">Pertenece a la familia lamiáceas. Crece en climas tropicales. Se atribuye a su aceite que otorga propiedades digestivas,
                            carminativas, antisépticas, insecticidas y sedantes.</p>
                        </div>
                      </div>
                    </li>

                    <li class="cards_item">
                      <div class="card">
                        <div class="card_image"><img src="https://mejorconsalud.as.com/wp-content/uploads/2021/10/semillas-achiote-planta.jpg"></div>
                        <div class="card_content">
                          <h2 class="card_title">Achiote</h2> <br>
                          <p class="card_text">Especie arborescente cultivada desde la época precolombina. Del fruto se obtiene la especia homónima. Propiedades en
                            aliviar problemas de riñón, patologías estomacales, quemaduras, malestares de garganta, problemas de respiración,
                            conjuntivitis, dolor de cabeza y heridas..</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div> <br>

                <div class="container">
                  <div class="row">
                    <div class="col-3"></div>
                    <div class="col-8">
                      <youtube-player videoId="7n9c_gra1WM"suggestedQuality="highres"
                      [width]="600" ></youtube-player>
                    </div>
                  </div>
                </div>

        </div>
    </div>
</div> <br>

  </div>


</div>
