.imga{
  width: 50px;
}

*{
  z-index: 20;
}

.usu{
  color: green;
  text-transform: uppercase;
}

.usu:hover{
  color: rgb(0, 205, 0);
}

.navbar-brand{
  color: green;
}

.navbar-brand:hover{
  color: rgb(0, 205, 0);
}

