<div class="banner">
  <h2>Centroamérica zona 7</h2>
</div>

<br>

<h2>Salones para Eventos</h2> <br>

<div class="container">
  <div class="row justify-content-md-center">
    <a data-toggle="lightbox" data-gallery="gallery" class="col-md-5 fot">
      <img src="/assets/img/salon1.jfif" class="img-fluid rounded imgs">
      <h5>Salón  Grande</h5>
    </a>
    <a data-toggle="lightbox" data-gallery="gallery" class="col-md-5 fot">
      <img src="/assets/img/salon2.jfif" class="img-fluid rounded imgs">
      <h5>Salón Mediano</h5>
    </a>
    <a data-toggle="lightbox" data-gallery="gallery" class="col-md-5 fot">
      <img src="/assets/img/salon4.jfif" class="img-fluid rounded imgs">
      <h5>Jardín</h5>
    </a>
    <a data-toggle="lightbox" data-gallery="gallery" class="col-md-5 fot">
      <img src="/assets/img/salon3.jfif" class="img-fluid rounded imgs">
      <h5>Galera</h5>
    </a>
  </div>
  </div> <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <ul>
        <h4>
          Información para la renta de los Salónes
        </h4>
        <li> <i class="fa fa-envelope" aria-hidden="true"></i>  comitepronavidad@gmail.com</li>
        <li> <i class="fa fa-phone" aria-hidden="true"></i>  5875-1704</li>
      </ul>
    </div>
    <div class="col-"></div>

  </div>
