<div class="banner">
  <h2>Centroamérica zona 7</h2>
</div>
<br> <br>

  <h2>Historia de la Colonia Centroamerica</h2>

  <p>Hace 50 años surgieron las primeras colonias en las que los mismos dueños trabajaban en la construcción.
    Todo el mundo quería construir su propia casa. Era para personas de escasos recursos. Había un proceso de selección, y
    el visitador iba a tu residencia de ese momento e investigaba. Se obtenían más puntos si se decía que estabas casado, cuenta José
    Salomón Ruano, de 79 años, quien siempre se dedicó a la mecánica y ahora es el presidente del séptimo grupo de la colonia Centro
    América. <br> <br>

    Pero todavía no sabía lo duro y agotador que podía llegar a ser todo el proceso de construcción.
    Por primera vez en Guatemala se ponía en marcha el proyecto Ayuda Mutua y Esfuerzo Propio, que ya estaba instaurado en otros países
    como Puerto Rico y Jamaica. Se denominaba de esta forma porque cada uno de los escogidos debía colaborar en la construcción de las
    casas de toda la colonia, y una vez acabadas, se llevaba a cabo un concurso, donde se sorteaba cuál de todas ellas era de cada uno.
    El Instituto Cooperativo Interamericano de la Vivienda (ICIV), con ayuda económica de EE. UU., daba los materiales y la asesoría
    técnica, y el Gobierno cedía los terrenos. <br> <br>
    Refiere el documento De barrancas a hogares modernos, publicado en 1960 —en el que se
    recogen datos sobre este programa—, que el aporte económico total era de Q7 mil 214, que se invirtieron en la edificación de unas
    tres mil casas, entre todos los proyectos.
  </p>

  <div id="sticky">
    <img src="/assets/img/foto historia.jpg" alt="Vista antigua de la Colinia">
    <p>Foto tomada en los años 70 después de su construcción y entraga a sus habitantes de la Colonia Centroamérica.</p>
  </div>

  <p>
    Cada beneficiario debía pagar Q15 mensuales por un período de 20 años. Según esa publicación, en ese momento, sin ayudas, esas
    viviendas costarían por lo menos una tercera parte más de lo que valen”. Una cifra minúscula en la actualidad, pero que en ese
    momento era difícil de reunir y que no todos tenían el privilegio de poder pagar, por lo que muchos fueron expulsados o abandonaron
    el programa. Los requisitos eran los siguientes: tener de 18 a 45 años de edad, familia con un mínimo de cuatro integrantes y un
    máximo de siete, y un sueldo entre Q65 y Q130 mensuales. <br> <br>

    En esta colonia se tenía que trabajar 20 horas semanales durante 18 meses, aunque en los siguientes proyectos se redujo el tiempo.
    Pero los momentos más duros se olvidaban cuando los trabajadores recibían su recompensa: las casas, casi 280. Eran todas iguales con
    una sola planta, un pequeño jardín y un árbol frutal en el patio. El día del sorteo, todos cruzaban los dedos para que les tocaran
    las residencias de las esquinas, que eran un poco más grandes que el resto, comenta Flor de María Soria de Gutiérrez, quien ha vivido
    toda su vida en la colonia Centro América. Aunque todos quedaban felices y satisfechos, ya que después de tanto esfuerzo, por fin iban
    a poder habitar lo que ellos mismos habían edificado, solo con ayuda de un ingeniero, a cargo de cada grupo y quien guiaba la obra. <br> <br>

    Mi padre, locutor de radio, fue uno de los afortunados en construir y recibir una de las casas. Yo nací aquí, y mi marido, Jorge
    Rodolfo Gutiérrez, también, así que ahora vivimos en el hogar que era de mis suegros”, relata Flor, a sus casi 50 años. En la
    actualidad, su domicilio de dos niveles, como el de la mayoría, poco tiene que ver con el que recibieron hace cinco décadas, que según
    Flor, se extendía solo siete por nueve metros, en un terreno con 10 metros en el frente, por 15 metros de fondo por un lado, y 12 por el otro.
    El destino les sonrió a casi todos los propietarios que, poco a poco, mejoraban su propiedad, añadiendo plantas y empequeñeciendo el
    jardín. En algunos casos casi no queda rastro del patio ni del árbol frutal, y pueden ser hasta de tres pisos.
    Mucho han cambiado los tiempos y, por ende, la colonia. Cuando vinimos a vivir aquí, esta ubicación —zona 7— estaba en las afueras
    de la ciudad, y en los alrededores había cultivos de milpa, comenta Soria. Tampoco estaban asfaltados los caminos y no existía los
    robos ni la delincuencia. Sin embargo, desde el principio fue un complejo muy completo: Hay escuela, instituto, centro de Salud,
    tiendas”, enumera. <br> <br>

    Luis Grisolia Cifuentes, 88, explica que era un trabajo muy difícil. La tierra era muy dura. Costaba mucho. Se nos ponían las manos
    agrietadas, comenta. Además, recuerda que lo amonestaron porque, después de haber cargado cemento, paró un momento a descansar. No
    fue ni un par de minutos que me senté, y me hicieron trabajar media hora más, señala Grisolia, quien fue trabajador de la Secretaría
    General de la Policía Nacional. El reglamento era muy estricto por parte del ICIV. Todos debían cumplir con las obligaciones.
    Otra dificultad era la distancia, pues todos debían correr desde sus sitios de trabajo a la zona 7, para ponerse a laborar, pero esta
    vez no a cambio de dinero, sino de un techo bajo el cual cobijarse. El séptimo grupo, formado por 44 hombres, fue el único que eligió
    el horario nocturno. Su turno comenzaba a las 19 horas y terminaba a las 23, aunque en ocasiones las jornadas podían alargarse hasta
    la una o dos de la madrugada, explica Soria.</p>

    <span style="font-size: small; margin: 30px;">POR ANA MARTÍNEZ DE ZÁRATE - Revista Prensa Libre</span>

